@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*{ padding: 0px;
   margin: 0px; }

:root {
    --cor1: #D6D58E;
    --cor2: #015958;
    --cor3: #C7FFED;
    --fonte2: 'Sriracha', cursive;
}

body {
background-color: #C7FFED;
background-image: url(../imagens/Back.jpg);
background-size: cover;
background-attachment: fixed;
}
header{
    background-color: var(--cor2);
    min-height: 100px;
    padding-top: 20px;
}
nav{
    background-color: #015958;
    padding: 10px;
    font-family: var(--fonte2);
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: 0.8s;
}
nav a:hover{
    color: #FFD621;
}
#titulo{
    font-family: 'Nabla', cursive;
    text-align: center;
    font-size: 5vh;
    line-height: 55px;
    text-shadow: 0px 0px 5px rgba(12, 5, 5, 0.582);
    padding-bottom: 13px;
}
.h1{
    text-align: center;
    background-color: #FFD621;
}
main{
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    margin-bottom: 30px;
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.432);
}
footer{
    text-align: center;
    background-color: var(--cor2);
    color: rgb(255, 255, 255);
    font-family: var(--fonte2);
}
